@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



ul {
    list-style: none;
}


.section-padding {
    padding: 60px 0px;
}


.menu-restaurant {
    width: 50%;
    float: left;
    padding: 15px;
    position: realtive;

}

.menu-restaurant .menu-title {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #a96700;
}

.menu-restaurant .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, .3);
    margin-left: .6em;
    margin-right: .6em;

}

.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #515151;
}

.menu-restaurant .menu-subtitle {
    display: block;
    float: left;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}

#menu-filters ul li a.active,
#menu-filters ul li a:hover {
    background: #a96700;
    color: #fff;
    border: 1px solid #a96700;
}

#menu-filters ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;

}

#menu-filters ul li a {
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;

}

@media (min-width: 20px) and (max-width: 450px) {
    .menu-restaurant {
        width: 100%;
    }

}